
.container {
    padding-left: 0.5rem;
    margin: 1vh 0 0 0;
    color: black;
    text-decoration: none;
    font-size: 1.7rem;
    cursor: pointer;
}

.spring-link {
    text-decoration: none;
    color: black;
    // margin: 0 0 0.7vh 0;
    display: block;
}

.spring-link-mobile {
    text-decoration: none;
    color: black;
    margin: 0 0 0.7vh 0;
    display: block;
}

.spring-link:hover {
    color: #fa923f;
}