.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    height: 56px;
    z-index: 500;
    /* border-bottom: 3px solid #333333; */
}

.toolbar__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.toolbar__logo-container {
    display: flex;
    height: 100%;
    padding: auto;
    margin: 0;
    border: none;
    background: none;
}

.toolbar__logo-container:hover div {
    color: #fa923f;
}

.toolbar__logo-container:hover .toggle-button__line {
    background: #fa923f;
}

.toolbar__logo {
    padding-left: 1rem;
    display: flex;
    margin: auto;
    color: black;
    text-decoration: none;
    font-size: 1.7rem;
    cursor: pointer;
}

.toolbar__button {
  display: inline-block;
  padding: auto;
  margin: 0;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  background-color: white;
  cursor: pointer;
  transition: 0.3s background-color ease;  
}

.toolbar__button:focus {
    outline: none;
}

.toolbar_navigation-items a {
    color: black;
    text-decoration: none;
}

.toolbar_navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar_navigation-items li {
    padding: 0 0.5rem;
    width: 4rem;
    text-align: center;
}


.toolbar-gap {
    flex: 1;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
    color: #fa923f;
}