.contact-container {
    display: grid;
    position: absolute;
    top: 0;
    grid-template-columns: 6vw 6vw 6vw 6vw 6vw;
    grid-template-rows: 7vh;
    grid-column-gap: 1vw;
    grid-row-gap: 2vh;
    justify-content: center;
    justify-items: center;
    align-items: center;
}