.contact-container {
    display: grid;
    position: absolute;
    top: 0;
    grid-template-columns: 12vw 12vw 12vw;
    grid-template-rows: 20vh 20vh;
    grid-column-gap: 2vw;
    grid-row-gap: 2vh;
    justify-content: center;
    justify-items: center;
    align-items: center;
}