.container-left {
    height: 100%;
    background: white;
    position: fixed;
    top: 56px;
    left: 0;
    width: 50%;
}

.container-right {
    position: absolute;
    /* background: #fabebe; */
    top: 56px;
    left: 50%;
    width: 50%;
    height: 100vh;
}

.container-bottom {
  position: absolute;
  display: flex;
  flex: 1;
  width: 100%;
  margin: 0;
  height: 400vh;
  background-color: rgba(10, 10, 200, 0.1);
  top: 100vh;
}

.contentleft-appear {
  transition: opacity 300ms ease-in-out;
  transform: translateX(-200px);
  opacity: 0
}  
.contentleft-appear.contentleft-appear-active {
  opacity: 0;
  transform: translateX(0);
  transition: all 250ms ease-in-out;
}
.contentleft-enter {     
  opacity: 1
}
.contentleft-enter.contentleft-enter-active {
  opacity: 1;
}
.contentleft-exit {
  opacity: 1
}
.contentleft-exit-active { 
  transform: translateX(-300px);
  opacity: 0;
  transition: all 300ms linear
}



.contentright-appear {
    opacity: 0;
    z-index: 1;
}

.contentright-appear.contentright-appear-active {
  opacity: 1;
  transition: all 500ms linear 500ms;
}

/* enter */
.contentright-enter {
  opacity: 0;
  z-index: 1;
}
.contentright-enter.contentright-enter-active {
    opacity: 1;
    transition: all 500ms linear 0ms;
}

/* exit */
.contentright-exit {
    opacity: 1;
    z-index: 1;
}
.contentright-exit.contentright-exit-active {
    opacity: 0;
    /* transform: translateX(300px); */
    transition: all 500ms ;
}

.contentright-exit-done {
  opacity: 0;
}