
.container-left {
    height: 100%;
    background: white;
    position: fixed;
    top: 56px;
    left: 0;
    width: 50%;
}

.container-right {
    position: absolute;
    /* background: #dddddd; */
    top: 56px;
    left: 50%;
    width: 50%;
}

.container-bottom {
  position: absolute;
  display: flex;
  flex: 1;
  width: 100%;
  margin: 0;
  height: 400vh;
  background-color: rgba(10, 10, 200, 0.1);
  top: 100vh;
}

.display-appear {
    opacity: 0;
    z-index: 1;
}

.display-appear.display-appear-active {
  opacity: 1;
  transition: all 800ms linear;
}

/* enter */
.display-enter {
  opacity: 0;
  z-index: 1;
}
.display-enter.display-enter-active {
    opacity: 1;
    transition: all 800ms linear;
}

/* exit */
.display-exit {
    opacity: 1;
    z-index: 1;
}
.display-exit.display-exit-active {
    opacity: 0;
    transition: all 0ms ;
}
.display-exit-done {
  opacity: 0;
}