.contact-item {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #ffffff;
    font-size: 0.92em;
}

.icon-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center; // NOT justify-items
    align-items: center;
}

.item-link {
    display: flex;
    color: rgb(54, 54, 54);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.icon:hover {
    color: #fa923f;
    cursor: pointer;
}
