.side-drawer {
    height: 100%;
    background: white;
    /* border-top: 2px solid #333333; */
    /* box-shadow: 1px 0px 0px rgba(0,0,0,.5); */
    position: absolute;
    top: 60px;
    left: 0;
    width: 50%;
    z-index: 200;  
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.side-drawer.open {
    transform: translateX(0);
}

.sideDrawer-container {
    margin: 0 auto;
    max-width: 750px;

    display: flex;
    flex-direction: column;
    min-height: 75vh;
}

.side-drawer ul {
    height: 100%;
    font-size: 1.5rem;
    text-align: center;
    line-height: 3vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: top;
}

.side-drawer li {
    margin: .5rem 0;
}

.side-drawer a {
    color: black;
    text-decoration: none;
}

.side-drawer a:hover,
.side-drawer a:active {
    color: #fa923f;
}