.header {
    padding: 1rem 0 3rem;
}

.headerContainer {
    height: 15vh;
    width: 50vw;
    text-align: center;
    margin: 2vh auto 2vh 6vw;
    justify-content: center;
}

.title {
    position: relative;
    top: 5vh;
    width: 80%;
    color: #000000;
    font-size: 2rem;
    font-family: "Open Sans";
    font-weight: 300;
    letter-spacing: 0.2rem;
    border-bottom: 1px solid #000;
    padding: 3vh 0;
}

.contact-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 22vh;
    justify-items: center;
    align-items: center;
    margin: 0 0 0 3.5vw;
    width: 50vw;
}