.tompiler-item {
    display: inline-block;
    width: 75%;
    height: 0;
    text-align: justify;
    color: black;
    line-height: 1.6;
    font-size: 0.84em;
}

.tompiler-item-mobile {
    display: inline-block;
    width: 90%;
    height: 0;
    text-align: justify;
    color: black;
    line-height: 1.6;
    font-size: 0.84em;
}