.cell {
  position: absolute;
  display: inline-block;
  font-size: 26px;
  color: black;

  border-radius: 3px;
  box-shadow: 2px 3px 2px #535353;

  cursor: pointer;
}

.button {
  display: inline-block;
  width: 2.3vw;
  height: 5.7vh;
  padding: auto;
  margin: 0;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: none;
  cursor: pointer;
  transition: 0.25s background-color;
}


.button:focus {
  outline: none;
}