.cell {
  position: absolute;
  display: inline-block;
  font-size: 26px;
  color: black;

  border-radius: 3px;
  box-shadow: 2px 3px 2px #535353;

  cursor: pointer;
  // border: 1px solid rgb(83, 83, 83);
  // -webkit-transition: background-color 0.3s linear;
  // -moz-transition:  background-color 0.3s linear;
  // transition:  background-color 0.3s linear;
}


// .button {
//   display: inline-block;
//   position: absolute;
//   width: 2.3vw;
//   height: 5.7vh;
//   // padding: auto;
//   margin: 0;
//   padding: 0;
//   background: white;
//   border: 1px solid white;
//   border-radius: 3px;
//   box-shadow: 2px 3px 2px #535353;
//   cursor: pointer;
//   transition: 0.3s background-color ease;
//   // text-align: center;
//   line-height: 5.7vh;
//   z-index: 3;
//   opacity: 1;
// }

.button {
  display: inline-block;
  position: absolute;
  width: 2.3vw;
  height: 5.7vh;
  /* // padding: auto; */
  margin: 0;
  padding: 0;
  background: white;
  // border: 1px solid white; 
  border: none;
  border-radius: 3px;
  // box-shadow: 2px 3px 2px #535353;
  cursor: pointer;
  /* transition: 0.3s background-color ease; */
  text-align: center;
  line-height: 5.7vh;
}

.spring-link {
  text-decoration: none;
  color: black;
  display: inline-block;
  width: 2.3vw;
  height: 5.7vh;
  // line-height: 5.7vh;
  padding: 0;
  margin: 0;
  // background-color: rgba(0,0,0,0);
  // text-align: center;
}


.button:focus {
  outline: none;
}

.span {
  z-index: 2;
  color: #a8a8a8;
}

// .glance {
//   width: 100%;
//   height: 100%;
//   padding: 0;
//   margin: 0;
//   border-radius: 3px;
//   z-index: 1;
//   position: relative;
//   // transform: translateY(-5.8vh);
//   background-color: #b9dbbf;
  
// }


.glance-parent {
  width: 2.3vw;
  height: 5.7vh;
  /* display: inline-block; */
  display: flex;
  justify-content: center;
}

.glance {
  /* display: flex; */
  width: 100%;
  height: 10%;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  z-index: 3;
  position: relative;
  transform: translateY(0.7vh);
  pointer-events: none;
}