
.cell {
  padding: 1vh;
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  font-size: 26px;
  color: black;
  box-shadow: 2px 3px 2px #535353;
  
  position: absolute;
  margin: 2vh;
  vertical-align: middle;
  line-height: 3.5vh;

  display: inline-block;
  width: 1.2vw;
  height: 3.7vh;

  cursor: pointer;

  transition: 0.25s background-color;
}