.container-left {
    height: 70vh;
    position: fixed;
    top: 56px;
    left: 0;
    width: 50%;
    z-index: 0;
    display: flex;
    align-items: center;
}

.container-top-mobile {
  display: block;
  height: 56px;
  position: fixed;
  top: 56px;
  left: 0;
  width: 100%;
  z-index: 0;
}

.container-content {
  align-items: center;
}


.link-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.link-container-mobile {
  display: flex;
  justify-content: center;
}

.container-right {
  position: fixed;
  top: 12vh;
  left: 30vw;
  width: 40vw;
  height: 100vh;
  text-align: center;
}

.container-right-mobile {
  display: block;
  position: fixed;
  top: 18vh;
  left: 10%;
  width: 80%;
  height: 100vh;
  text-align: center;
}