.link {
    padding: 1vh 4vw;
    font-size: 1.4em;
}

.springLink:hover {
    color: #fa923f;
    cursor: pointer;
}

.springLink {
    text-decoration: none;
    color: black;
}

.bar-container {
    display: flex;
    justify-content: start;
}

.bar-container-mobile {
    display: flex;
    justify-content: center;
}

.bar {
    margin: 0.2vh 0;
    position: relative;
    width: 200px;
    height: 5px;
    cursor: pointer;
    border-radius: 3px;
    border: 3px solid white;
}

.bar-mobile {
    margin: 0vh 0;
    position: relative;
    width: 200px;
    height: 5px;
    cursor: pointer;
    border-radius: 3px;
    border: 3px solid white;
}

.link-mobile {
    width: 15vw;
    padding: 1vh 0vw;
    font-size: 0.8rem;
    display: inline-block;
    text-align: center;
}